<%= form_for([@article, @article.comments.build]) do |f| %>
 <%=f.hidden_field :article_id %> 
<%=render 'error_messsages'%>

<p>
  <b> <%=f.label :commenter %> </b>
  <%=f.text_field :commenter %> 
</p>

<p>
  <b> <%=f.label :comment %> </b>
  <%=f.text_area :body %>
</p>

<p>
  <%=f.submit %>
</p>
<% end %>