<%= form_for([@article, @comment]) do |f| %>
 
<%=render 'common/error_messsages', model: @comment %>

<div class="form-group">
	
  	<b> <%=f.label :commenter %> </b>
 	 <%=f.text_field :commenter,  class: "form-control" %> 
	
</div>


<div class="form-group">
	
  	<b> <%=f.label :comment %> </b>
 	 <%=f.text_area :body, class: "form-control" %>
	
</div>



  <div class="form-group">
  <%=f.submit %>
</div>
<% end %>