<%= form_for @article do |f| %>
<%=render 'common/error_messsages', model: @article %>



<div class="form-group">
   <b> <%=f.label :title %> </b>
     <%=f.text_field :title, class: "form-control" %> 
 

  <div class="form-group">
   <b> <%=f.label :text %> </b>
    <%=f.text_area :text, class: "form-control" %>
  </div>


  <div class="form-group">
   <b> <%=f.label :tags %> </b>
    <%=f.text_field :tags, class: "form-control" %>
  </div>

  
  
     <div class="form-group">
    <%= f.file_field :banner %>
    <%= f.hidden_field :banner_cache %>
    </div>


  <div class="form-group">
    <%=f.submit %>
    
 

<% end %>