<%= form_for @article do |f| %>
<%=render 'common/error_messsages', model: @article %>
  <p>
   <b> <%=f.label :title %> </b>
     <%=f.text_field :title %> 
  </p>

  <p>
   <b> <%=f.label :text %> </b>
    <%=f.text_area :text %>
  </p>


   <p>
    <%=f.submit %>
    
  </p>

<% end %>