<h1>
Article Edition
</h1>

<%= form_for @article do |f| %>

<%=render 'form'%>
  <p>
    <%=f.label :title %>
    <%=f.text_field :title %>
  </p>

  <p>
    <%=f.label :text %>
    <%=f.text_area :text %>
  </p>


   <p>
    <%=f.submit %>
    
  </p>

<% end %>




<p>
	<strong>Title:</strong>
	<%= @article.title %>
</p>

<p>
	<strong>Text:</strong>
	<%= @article.text %>
</p>

<p> 
<h2><%= link_to 'Back', articles_path %></h2>
</p>
