<h1>List of Articles </h1>

<div class="list-group">

<% @articles.each do |article| %>
	<div class="list-group-item">
    	<h3 class="list-group-item-heading"><%= article.title %></h3>
    	<p class="list-group-item-text"><%= article.text %></p>

    		<%= link_to 'Show', article_path(article), class: "btn btn-primary" %> 
    		<%= link_to 'Delete', article_path(article), 
			method: :delete,
			data: {confirm: "Are you sure?"},
			class: "btn btn-primary"%>
		


	</div>


<% end %>
</div>
	


<p> 
<h2><%= link_to 'Write something new', new_article_path %></h2>
</p>

<!--/views/articles/index.html.erb -->